<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>Proudly hosted by <a href="https://pages.github.com/" target="_blank"><span class="octicon octicon-logo-github" style="color: #828282;
          position: relative;
          top: 4px;
          left: 3px;
          font-size: 20px;"></span></a></p>
      </div>
    </div>
  </div>
</footer>

<script>
$(document).ready(function() {
	if(location.pathname != "/") {
		$('.trigger a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
	} else $('.none a:eq(0)').addClass('active');
});

</script>
<script>
try
{
  const waterfall = new Waterfall({containerSelector:".wf-container",boxSelector:".wf-box",minBoxWidth:120});
}
catch (e)
{

}

const scale = 0.035;
const settings = {
  radius: 136 * scale,
  padding: 10 * scale,
  lineWidth: 20 * scale,
  lStartAngle: -15 + 360,
  zAngles0: -60 + 360,
  zAngles1: -110 + 360,
  zAngles2: 140,
  isPath: false,
  anim: 'basic',
  loop:  true,
  alternate:  true,
  color: '#ef7800'
};

$(".pacel svg").remove();
const svg = Logo.draw(settings);
const anim = Logo.animate(svg, settings);
anim.play();
$(".pacel").append(svg);

const finishAnim = () => 
{
  anim.pause();
  let time = anim.currentTime % anim.duration;
  const finishAnim = Logo.animate(svg, {...settings, loop: false, alternate: false});
  finishAnim.pause();
  finishAnim.seek(time);
  finishAnim.play();
};

$(window).load(finishAnim);
$(document).on("pjax:end", finishAnim);

$(document).pjax("#route","body",{fragment:"body",timeout:1e5,scrollTo:0,push:!0,maxCacheLength:20,replace:!1});
$(document).on("pjax:error",function(e,n,t,o,c){return c.success(n.responseText,t,n),!1});

var options={url:"/gblk.json",getValue:"title",list:{match:{enabled:!0,maxNumberOfElements:5}},template:{type:"links",fields:{link:"url"}},theme:"square"};
$("#countries").easyAutocomplete(options)

$(() => {
  $("img").lazyload({})

  const menuIcon = $(".menu-icon")[0];
  menuIcon.addEventListener('click', (e) =>
  {
    e.stopPropagation();
    $(".trigger").toggle();
  }, true);

  document.body.addEventListener('click', (e) =>
  {
    $(".trigger").toggle(false);
  }, false);

  $('.tooltip-right').tooltipster({
      contentAsHTML: true,
      position: 'right',
  });

  $('.tooltip-left').tooltipster({
      contentAsHTML: true,
      position: 'left',
  });
});

$(document).pjax("#route","body",{fragment:"body",timeout:1e5,scrollTo:0,push:!0,maxCacheLength:20,replace:!1});
$(document).on("pjax:error",function(e,n,t,o,c){return c.success(n.responseText,t,n),!1});

       
</script>
<script id="dsq-count-scr" src="//theplaceholder.disqus.com/count.js" async></script>
